@yellow-accent: #f6cd4c;
@green-accent: #75e793;

#content-container {
    max-width: 800px;
    margin: 0 auto; /* center */
}
.fa-smile-o { color:green; }
.fa-frown-o { color:red; }
.smile::after{
    content: '\&#9786';
}
#logo {
    width: 150px;
}

.panel-image {
    width: 100%;
}

.yellow-accent {
    background-color: @yellow-accent;
}

.green-accent {
    background-color: @green-accent;
}
