@yellow-accent: #f6cd4c;
@green-accent: #75e793;
@dark-green-accent: #437D52;

body{
    background-color: #EDF6FB;
}

.learn-more-btn{
    border-radius: 400px;
    height: 200px;
    width: 200px;
    font-family: "Roboto";
    opacity: 0.8;
    padding: 70px 10px 0px 15px;
    font-size: 30px;
    margin-left: 40px;
}

.learn-more-label{
    padding-bottom: 10px;
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(237, 246, 251);
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 40px;
}

#content-container {
    max-width: 800px;
    margin: 0 auto; /* center */
}

.fa-smile-o { color:green; }
.fa-frown-o { color:red; }
.smile::after{
    content: '\&#9786';
}

#logo {
    width: 150px;
}

#map {
    // width: 600px;
    min-width: 510px;
    // width: 100%
    // height: 480px;
    min-height: 620px;
    // height: 100%;
    float: right;
    border: solid;
    border-radius: 1;
    border-color: #94BCCF;
}

.map-popup {
    h1 {
        font-size: 100%;
    }
    img.product {
        border-radius: 1px;
        border: solid;
        width: 40px;
        height: 40px;
        margin: 2px;
    }
    table {
        max-width: 150px;
        .left {
            min-width: 100px;
        }
        max-height: 100px;
        .left {
            min-height: 75px;
        }
    }
}

.left {
    float: left;
    // width: 65%;
    overflow: hidden;
}

.right {
    float: right;
    overflow: hidden;
}

.panel-image {
    width: 100%;
}

.yellow-accent {
    background-color: @yellow-accent;
}

.green-accent {
    background-color: @green-accent;
}

.page-title{
    font-family: 'Roboto';
    font-size: 50px;
    letter-spacing: 10px;
    color: #999898;
}

.seller-box {
    font-family: 'Roboto';
    width: 100%;
    color: #666;
}

.seller-info {
  font-size: 14px;
  color: #666666;
  position: relative;
}

.seller-info-border{
    width:100%;
    display: inline-block;
}

.seller-image-border{
    display: inline-block;
    height: 100%;
}

.seller-info-box{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    width:20%;
}

.seller-name{
    margin-top: 10px;
    font-size: 18px;
}

.seller-name-lg, .ad-name{
    font-size: 25px !important;
    font-family: 'Roboto';
    letter-spacing: 2px;
}

.face-image{
    height:22px;
    width:22px;
    margin-left:10px;
    border-radius:25px;
}

.seller-image{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 20px;
}

.seller-image-sm{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 1px;
}

.ad-image-lg{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    padding: 20px;
}

.seller-image-lg{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    padding: 20px;

}

.seller-details a{
    text-decoration: none;    
}

.seller-details{
    float:left;
}

.main-page-panel{
    background-color: #5F92AB !important;
    height: 500px !important;
    border-radius: 500px !important;
}

.main-panel-image{
    border-radius: 500px !important;
    box-shadow: 10px 15px 20px #144C67 !important;
    margin-top: 30px !important;
    margin-left: 40px !important;
}

.btn-login{
    margin-right: 10px;
    margin-top: 10px;
    background-color: #266380;
    color: #fff;
}

.btn-login:hover{
    background-color: white;
    color: #266380;
}

.btn-search{
    background-color: #266380;
    color: #fff;
}

.btn-search:hover{
    background-color: white;
    color: #266380;
}

.btn-dispute{
    margin-right: 10px;
    margin-top: 10px;
    background-color: #c63835;
    color: #fff;
}

.btn-dispute:hover{
    background-color: white;
    color: #c63835;
}

.user-info-box{
    margin: 5px;
    text-align: center;
}

.user-info-box a{
    font-size: 110%;
    font-weight: bold;
}

.user-info-box button{
    font-size: 80%;
}

.user-info{
    float: right;
    margin-right: 399px;
}

.main-header{
    height:100px;
    background-color: #94BCCF;
}

.navbar-default .navbar-nav > li > a{
    color: #266380 !important;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #fff !important;
}

.navbar-brand{
    font-family: 'Roboto' !important;
    font-size: 40px !important;
    color: #266380 !important;
}
.navbar-brand:hover{
    color: #fff !important;
}

.seller-info-body{
    width: 100%;
    height: 300px;
    background-color: #94BCCF;
    border-radius: 20px;
}

.seller-info-labels{
    margin-left: 20px;
    margin-top: 15px;
}

.seller-info-right{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}

.seller-info-left{
    margin-top: 10px;
    font-size: 18px;
    margin-left: 0px !important;
}

.ad-info, .review-info{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

.ad-info-body{
    margin-top: 20px;
    width: 100%;
    background-color: #C4DDE9;
    border-radius: 20px;
    height: 310px;
}

.ad-name{
    margin-left: 15px;
    margin-top: 10px;
}

.ad-header{
    background-color: #3F758F;
    border-radius: 20px 20px 0px 0px;
    color: #C4DDE9;
}

.ad-info-right{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 7px;
}

.ad-info-left{
    font-size: 18px;
    margin-top: 7px;
    
}

.ad-info-left,
.ad-info-right,
.seller-info-left,
.seller-info-right,
.ad-title,
.seller-name-lg
{
    color: #266380;
    font-family: 'Roboto';
}

.panel-feedback{
    background-color: #94BCCF !important;
    border-radius: 20px !important;
    color: #266380;
    font-family: 'Roboto';
}

.ad-container{
    height: 100%;
    background-color: #DFF0FA;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px;
}

.ad-title {
    font-size: 40px;
    letter-spacing: 3px;
}

.ad-message-form{
    float: right;
    margin-right: 30px;
}

textarea {
    resize: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
}

.btn-write{
    float: right;
    margin-right: 35px;
    width: 100px;
    background-color: @green-accent;
}

.btn-rate{
    float: right;
    margin-right: 15px;
    width: 100px;
    background-color: #94BCCF;
}

.btn-rate:hover{
    background-color: #3F758F;
    color: #fff;
}

.rating-image{
    float: right;
    margin-right:25px;
}


.btn-write:hover{
    background-color: @dark-green-accent;
    color: white;
}
.no-bullet {
    list-style-type: none;
}

.feedback-list {
    h2 {
        text-align: center;
    }
}

.panel-default{
    border-color: #EDF6FB !important;
    background-color: #EDF6FB !important;
}

.image-mini {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.disputes-title{
    font-family: 'Roboto';
    font-weight: bold;
    color: #266380;
}