@yellow-accent: #f6cd4c;
@green-accent: #75e793;

#content-container {
    max-width: 800px;
    margin: 0 auto; /* center */
}
.fa-smile-o { color:green; }
.fa-frown-o { color:red; }
.smile::after{
    content: '\&#9786';
}

#logo {
    width: 150px;
}

#map {
    width: 600px;
    // width: 100%
    height: 480px;
    // height: 100%;
    float: right;
}

.map-popup {
    h1 {
        font-size: 150%;
    }
    img.product {
        border-radius: 1px;
        border: solid;
        width: 100px;
        height: 100px;
        margin: 5px;
    }
}

.left {
    float: left;
    // width: 65%;
    overflow: hidden;
}

.right {
    overflow: hidden;
}

.panel-image {
    width: 100%;
}

.yellow-accent {
    background-color: @yellow-accent;
}

.green-accent {
    background-color: @green-accent;
}

.page-title{
    font-family: 'Roboto';
    font-size: 50px;
    letter-spacing: 10px;
    color: #999898;
}

.seller-box {
    font-family: 'Roboto';
    width: 100%;
    color: #666;
}

.seller-info {
  font-size: 14px;
  color: #666666;
  position: relative;
}

.seller-info-border{
    width:100%;
    display: inline-block;
}

.seller-image-border{
    display: inline-block;
    height: 100%;
}

.seller-info-box{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    width:20%;
}

.seller-name{
    margin-top: 10px;
    font-size: 18px;
}

.face-image{
    height:27px;
    width:27px;
    margin-left:10px;
    border-radius:25px;
}

.seller-image{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 20px;
}

.seller-details a{
    text-decoration: none;    
}

.seller-details{
    float:left;
}

.btn-login{
    margin-right: 10px;
    margin-top: 10px;
}

.btn-login:hover{
    background-color: #ccc;
}

.user-info-box{
    margin: 10px;
}

.main-header{
    height:100px;
}

.navbar-brand{
    font-family: 'Roboto' !important;
    font-size: 40px !important;
}

.seller-info-body{
    width: 100%;
    height: 600px;
    background-color: #ccc;
}














